*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    background-image: url(imagemFundo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #0000007e;
    background-blend-mode: darken;
    display: flex;
    justify-content: center;
    align-items: center;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}
h1{
    color: #ffffff;
    font-size: clamp(40px, 10vw ,120px);
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

.apresentacao{
    color: #9c2e2e;
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    font-size: clamp(20px, 5vw ,40px);
    font-style: 400;
}

#github{
    width: 150px;
    height: 40px;
    background-color: #3f3e3b;
    border-style: none;
    border-radius: 5px;
}
#linkedin{
    width: 150px;
    height: 40px;
    background-color: #2cc0fa;
    border-style: none;
    border-radius: 5px;
}
#instagram{
    width: 150px;
    height: 40px;
    background-color: #ca2cfa;
    border-style: none;
    border-radius: 5px;
}